@import "../shared/utils/variables";

.container {
  padding: 80px 5% 140px;
  min-height: 100vh;
  background: #f1f1f1;

  overflow: hidden;

  @media (max-width: 960px) {
    padding: 48px 5% 116px;
  }

  @media (max-width: 600px) {
    padding: 16px 5% 97px;
  }
}

.wrapper {
  margin: 0 auto;

  @media (min-width: 1440px) {
    max-width: 1328px;
  }

  @media (min-width: 1920px) {
    max-width: 1520px;
  }
}

.go-back {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #00000050;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $primary-color;
  }
}

.checkout {
  padding: 54px 48px;

  .subtitle {
    color: $primary-color;
    text-transform: uppercase;
  }

  @media only screen and (max-width: 960px) {
    margin-bottom: 32px;
  }
}

form {

  input,
  .radio-container {
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    background: $white;
    padding: 18px 24px;
    color: #000;

    &::placeholder {
      color: #00000040;
    }
  }

  input,
  input::placeholder {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.25px;
  }

  input:focus {
    border: 1px solid $primary-color;
    outline-color: $primary-color;
  }

  .label {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.214px;
  }

  .champ-obligatoire {
    color: #e94916;
    margin-left: 4px;
  }

  .img-icon-cach {
    width: 48px;
    height: 48px;

    background-image: url("../../assets/checkout/icon-cash-on-delivery.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .radio-container {
    input {
      display: none;
    }

    .radio-placeholder {
      width: 20px;
      height: 20px;
      border: 1px solid #cfcfcf;
      border-radius: 50%;
      cursor: pointer;
      padding: 4px;

      &::before {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        background-color: $primary-color;
        border-radius: 50%;
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }
    }

    input:checked~.radio-placeholder {
      border-color: $primary-color;

      &::before {
        transform: scale(1);
      }
    }

    &.selected {
      border-color: $primary-color;
      transition: border-color 0.3s ease-in-out;
    }
  }
}

.summary {
  max-width: 350px;
  width: 100%;

  max-height: 100% !important;
  overflow-y: auto;
  scroll-behavior: smooth;

  padding: 32px;

  .bold-text {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    &--title-summary {
      letter-spacing: 1.286px;
    }

    &--grd-total {
      color: $primary-color;
    }
  }

  .product {
    .img-prod {
      width: 64px;
      height: 64px;

      border-radius: 8px;
      background: #f1f1f1;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .prod-price {
      color: #00000050;
      font-size: 14px;
      font-weight: 700;
      line-height: 25px;
      /* 178.571% */
    }

    mat-icon {
      color: #00000050;
      font-size: 16px;
    }
  }
}

.body {
  color: #00000050;
}

.checkout,
.summary {
  background: #fff;
  border-radius: 8px;

  @media only screen and (max-width: 960px) {
    padding: 32px;
  }

  @media only screen and (max-width: 600px) {
    padding: 24px;
  }
}