<div class="container">
  <div>
    <div>
      <img
        [src.gt-sm]="data.first.desktop"
        [src.lt-md]="data.first.mobile"
        [src.lt-sm]="data.first.tablet"
        alt=""
      />
    </div>
    <div>
      <img
        [src.gt-sm]="data.second.desktop"
        [src.lt-md]="data.second.mobile"
        [src.lt-sm]="data.second.tablet"
        alt=""
      />
    </div>
  </div>
  <div>
    <img
      [src.gt-sm]="data.third.desktop"
      [src.lt-md]="data.third.mobile"
      [src.lt-sm]="data.third.tablet"
      alt=""
    />
  </div>
</div>
