<div fxLayout="row" fxFlex="100" fxLayoutGap="32px" fxLayout.lt-md="column-reverse" fxLayoutGap.lt-md="40px"
  fxLayoutGap.lt-sm="28px" [ngStyle.gt-sm]="{ 'margin-top': '32px' }">
  <div class="text" fxFlex.gt-sm="50" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start">
    <div fxLayout="column" fxLayoutGap="32px" class="text-content">
      <h1 class="title2">
        {{'Bringing-you-the' | translate}} <span class="text-yellow">{{'best' | translate}}</span> {{'audio-gear' |
        translate}}
      </h1>
      <div class="body">
        {{'Located-at-the-heart' | translate}}
      </div>
    </div>
  </div>
  <div class="image" fxFlex.gt-sm="50"></div>
</div>