<div class="container" fxFlex="100" [fxLayout]="'row' + data.direction" fxLayoutGap.md="80px" fxLayout.lt-md="column">
  <div class="image" fxFlex.gt-sm="50" [ngStyle]="{
      'background-image': 'url(' + data.categoryImage.desktop + ')'
    }" [ngStyle.lt-md]="{
      'background-image': 'url(' + data.categoryImage.tablet + ')'
    }" [ngStyle.lt-sm]="{
      'background-image': 'url(' + data.categoryImage.mobile + ')'
    }"></div>
  <div class="text" fxFlex.gt-sm="50" fxLayout="row"
    [fxLayoutAlign]="data.direction === '' ? 'end center' : 'start center'" fxLayoutAlign.lt-md="center start">
    <div class="text-content" fxLayout="column" fxLayoutGap="40px" fxLayoutGap.lt-md="24px" fxLayoutAlign="start start"
      fxLayoutAlign.lt-md="start center">
      <div fxLayout="column" fxLayoutGap="32px" fxLayoutGap.lt-sm="24px">
        <div fxLayout="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="24px">
          <span class="overline" *ngIf="data.new">{{'new-product' | translate}}</span>
          <h2 class="title2">{{ data.name }}</h2>
        </div>
        <div class="body">
          {{ data.description | translate}}
        </div>
      </div>
      <a routerLink="{{ data.slug }}" class="btn btn--1">{{'See-Product' | translate}}</a>
    </div>
  </div>
</div>