@import "../../utils/variables";

.container {
  padding: 0 5%;
  transition: padding 0.4s ease-in-out;
  background: #101010;
  color: #fff;

  // @media only screen and (max-width: 960px) {
  //   padding: 0 24px;
  // }
}

.wrapper {
  padding: 75px 0 48px;
  position: relative;
  margin: 0 auto;

  @media only screen and (max-width: 960px) {
    padding: 60px 0 46px;
  }
  @media only screen and (max-width: 600px) {
    padding: 48px 0 38px;
  }

  .link-item {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover,
    &.active {
      color: #d87d4a;
    }
  }

  .social-item {
    cursor: pointer;

    a {
      color: $white;
      transition: all 0.4s ease-in-out;
    }

    i {
      font-size: 24px;
    }

    &:hover {
      a {
        color: $primary-color;
      }
    }
  }

  mat-icon,
  .text-gris {
    color: #ffffff50;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 101px;
    height: 4px;
    background: $primary-color;
  }
  @media (min-width: 1440px) {
    max-width: 1328px;
  }
  @media (min-width: 1920px) {
    max-width: 1520px;
  }
}
